body {
    font-family: 'PT Sans', sans-serif;
}


.flex-wrapper {
    display: flex;
}
.container {
    max-width: 600px;
    border: solid 5px;;
    border-color: grey;

}

.form-row {
    max-width: 95%;
}

.form-control {
    border-radius: 0;
}

.checkbox-orange {
    color: orange !important;
    position: relative;
    margin: auto;
    padding-right: 1rem;
}

.checkbox-gray {
    color: gray !important;
    position: relative;
    margin: auto;
    padding-right: 1rem;
}

.todo-list {
    max-width: 89%;
}

@media screen and (max-width: 430px){

    #form-inputbox{
        width: 75% !important;
    }

    
}